.admin-products__wrapper {
  display: flex;
  flex-direction: column;
}

.admin-products__btn {
  display: flex;
  margin: 4px 0;
  justify-content: flex-end;
}

.admin-products__btn-add {
  width: fit-content;
  border-radius: 8px;
}