.shop-header__menu{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop-header__menu_container{
    display: flex;
}
.shop-header__name_user{
    margin-left: 50px;
    color: brown;
    font-size: 14px;
}
.shop-header__menu_list{
    padding: 5px;
    margin-right: 5px;
    display: flex;
}
.shop-header__link{
    text-decoration: none;
    padding-left: 5px;
    color: #000;
    font-size: 14px;
}
.shop-header__link:hover{
    color: rgb(86, 85, 85);
    text-decoration: underline;
}
.shop-header_div_cart{  
    background-color: #000;
    color: #fff;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-header__icon_cart{
    color: #fff;
    font-size: 20px;
    padding: 5px;
}
.shop-header__icon_cart_count{
    color: #fff;
    font-size: 10px;
    background-color: red;
    width: 12px;
    height: 12px;
    border-radius: 80%;
    right: 8px;
    top: 3px;
    display: flex;
    justify-content: center;
    position: absolute;
}
.shop-header__container{
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shop-header__link_home{
    display: flex;
    text-decoration: none;
}
.shop-header__container span {
    margin-top: 20px;
    color: #fff;
    font-size: 38px;
    font-weight: 700;
}
.shop-header__logo{
    width: 100px;
    padding: 10px;
    margin-left: 40px;
}
.shop-header__search{
    margin-right: 20px;
}
.shop-header__search_input{
    min-width: 300px;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    font-size: 1.4rem;
    color: var(--text-color);
}
.shop-header__search_icon{
    color: #000;
    position: absolute;
    margin: 10px;
    right: 20px;
    cursor: pointer;
    color: rgb(146, 142, 142);
    
}