/* .shop__home__container{
    height: 100%;
    flex: 1;
} */
.shop__name__link{
    margin-top: 10px;
    height: 30px;
    box-shadow: 0 1px 0 rgb(0 0 0 / 12%);
    font-size: 12px;
}
.shop__name__link span{
    margin: 30px;
}
.shop__show__wrapper{
    display: flex;
}
.shop__show__category__sidebar{
    flex: 1;
}
.shop__show__container{
    width: 80%;
    height: 00px;
}
.shop__show__category__sidebar{
    width: 300px;
    margin: 30px 20px 30px;
    border-bottom: 1px solid;
    border-color: rgb(0 0 0 / 12%);
}
.shop__show__category__sidebar p{
    margin-left: 10px;
    font-size: 16px;
}
.shop__show__category__sidebar ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
}
.shop__show__category__sidebar ul li:hover{
    background-color:  var(--primary-color);
    color: #fff;
}
.shop__show__category__sidebar ul li span{
    margin-left: 10px;
}
.shop__show__count{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    font-size: 14px;
    box-shadow: 0 0 0 ;
}
.shop__show__count ul{
    list-style: none;
    display: flex;
}
select{
    padding: 7px;   
}
.div__page ul li{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px 0 ;
    width: 30px;
    height: 30px;
}
.div__page ul li:hover{
    background-color: rgb(236, 241, 242);
    border-radius: 5px;
}
.active{
    background-color: rgb(236, 241, 242);
    border-radius: 5px;
}
.navLink.a{
    margin-left: 12px;
    color: black;
}
.icon__cross{
    margin-left: 12px;
}