.div__wrapp{
    display: flex;
}
.product__detail__infor__warrper{
    margin-top: 50px;
    margin-right: 80px;
    height: 100px;
    flex: 2;
    display: flex;
    flex-flow: column;
}
.div__wrapp img {
    margin-left: 100px;
    max-width: 100%;
    height: 80%;
    flex: 1 0 auto;
}
.product__detail__title{
    font-size: 20px;
}
.product__detail__avai{
    font-size: 14px;
    color: #247e0c;
}
.product__price{
    margin-top: 15px;
    font-weight: 700;
    color: red;
}
.product__size{
    display: flex;
    justify-content: space-between;
}
.div__chart{
    cursor: pointer;
}
.div__chart:hover{
    color: #3863a3;
}
.product__detail__product__size-wrap{
    padding: 20px;
    background-color: #f5f6f8;
    font-size: 14px;
    margin-top: 40px;
}
.chart{
    color: #3863a3;
}
.product__detail__cate__size ul{
    display: flex;
    list-style: none;
}
.product__detail__cate__size ul li {
    margin-top: 15px;
    font-size: 18px;
    cursor: pointer;

}
.product__detail__cate__size ul li span:hover {
    background-color: black;
    color: #ffff;

}
.product__detail__cate__size ul li span{
    margin-right: 15px;
    border-radius: 5px;
    padding: 2px 10px;
    border:1px solid;
    border-color: black; 
    background-color: #ffff; 
}
.product__detail__select__container{ 
    display: flex;
}
.div__col{
    display: flex;
    flex-flow: column;
    margin: 20px 5px 0 0;
}
.btn__action__container{
    width: 100%;
    height: 100%;
}
.div__col span{
    margin: 10px;
}
.btn__action{
    background-color: #686868;
    margin: 0 0 10px 10px;
    padding: 8px 20px;
    border-radius: 4px;
    color: #fff;
    box-shadow: inset 0 -2px 0  rgb(0 0 0 / 20%);
    border: none;
    cursor: pointer;
}
.btn__cus:hover{
    transition-duration: 0.2s;
    background-color: #626161;
}
.btn__add{
    background-color: black;
}
.show__info{
    margin-top: 20px;
    border-top: 1px solid;
    border-color: rgb(0 0 0 / 20%);
}
.show__info h3 {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}
.show__info ul {
    padding: 5px 0 0 15px;
    font-size: 14px;
    font-weight: 300;
}
.div__show__size__chart{
    display: flex;
}
.display{
    display: none;  
}
.close{
    height: 50px;
}