.admin-categories__wrapper {
  display: flex;
  flex-direction: column;
}

.admin-categories__btn {
  display: flex;
  margin: 4px 0;
  justify-content: flex-end;
}

.admin-categories__btn-add {
  width: fit-content;
  border-radius: 8px;
}

.category__btn {
  display: flex;
  gap: 32px;
}