.new__detail__background_container{
    background-color: #0b0c0c;
    flex: 1;
    color: white;
    position: relative;

    img{
        opacity: 0.8;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    h1{
        position: absolute;
        bottom: 64px;
        margin: 0 15%;
        text-align: left;
        line-height: 55px;
        font-weight: 550;
        font-size: 58px;
        font-family: sans-serif;
    }
}
.new_detail_content_container{
    display: flex;
    align-items: center;
    max-width: 1120px;
    width: 55%;
    margin: 0 auto;
    margin-bottom: 55px;
    
    .new_detail_info{
        display: flex;
        justify-content: space-between;
        box-shadow: 0 1px 0 rgb(0 0 0 / 12%);
        font-size: 14px;
        margin-top: 30px;
        height: 30px;
    }
    .list__icon__info{
        margin: 15px 0 10px;
        list-style: none;
        display: flex;
        li{
            margin: 0 10px 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .twittwer__icon{
            background:#26a7df;

            &:hover{
                background-color: white;
                color:#26a7df;
            }
        }
        .facebook__icon{
            background-color: #4d67a4;

            &:hover{
                background-color: white;
                color: #4d67a4;
            }
        }
    }
    .news-detail__desc {
        font-size: 24px;
        color: #1a1a1a;
        font-weight: 400;
    }
    .new_detail_content_text{
        p{
            color: #232323;
            font-weight: 300;
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 25px;
        }
    }
    .div__back__top{
        margin-top: 10px;
        display:flex;
        justify-content: center;
        align-items: center;
        .btn__back__top{
            margin: 0 10px 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            height: 25px;
            width: 120px;
            border-radius: 10px;
            background-color: #0b0c0c;
            font-size: 14px;

            &:hover{
                background-color: var(--primary-color);
            }
            span{
                margin-right: 7px;
            }
        }
    }
}